<html>
  <head>
    <title>Detection of heart Disease</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}" />
    <meta charset="UTF-8" />
  </head>
  <body>
    


    <div class="patterns">
      <svg width="100%" height="100%">
        <defs>
          <style>
            
          </style>
        </defs>

        <text x="50%" y="40%" text-anchor="middle">Cardio Check</text>
      </svg>
    </div>




    <div class="data">
      <p>
        A heart attack occurs when the flow of blood to the heart is blocked. The blockage is most often a buildup of fat, cholesterol and other substances, which form a plaque in the arteries that feed the heart (coronary arteries).

        Sometimes, a plaque can rupture and form a clot that blocks blood flow. The interrupted blood flow can damage or destroy part of the heart muscle.
        
        A heart attack, also called a myocardial infarction, can be fatal, but treatment has improved dramatically over the years.
      </p>

      <p>
        From here you can check your heart health. This application
        predict the vulnerability of heart disease, you have to give basic symptoms like
        age, gender, pulse rate, resting blood pressure, resting electrocardiographic results, exercise induced
        angina, cholesterol, fasting
        blood sugar,  ST depression ST segment the slope at peak exercise, number of
        major vessels coloured by fluoroscopy and maximum heart rate achieved.
      </p>

    <div class="wrap">
      <form>
        <button type="submit" class="button" formaction="/project">
          Check Now
        </button>
      </form>
    </div>
  </body>
</html>
